@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);
@import url(https://fonts.googleapis.com/css?family=Comic+Neue&display=swap);

* {
    box-sizing: border-box;
    
}

body {
    text-align: right;
    background: #578b3b; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #578b3b, rgba(89, 146, 56, 0.699));
    background: -moz-linear-gradient(right, #4b7933, rgba(85, 139, 88, 0.699));
    background: -o-linear-gradient(right, #578b3b, rgba(89, 146, 56, 0.699));
    background: linear-gradient(to left, #4d7a34, rgba(85, 139, 88, 0.699));
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}

#intro {
    transform: translate(100%);
    background: #FFFFFF;
    max-width: 33%;
    margin: 0 auto 10px;
    padding: 35px;
    text-align: right;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

#intro input {
    font-family: "Rubik", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: right;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    
}
#intro input:focus{
    background-color: #b8b8b8;
}

#intro button {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(60, 138, 62);
    width: 25%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}
#search_bar {
    display: inline;
    padding: 0;
}

#main {
    overflow: hidden; /* will contain if #first is longer than #second */
    max-width: 100%;
}
#item_list {
    width: 80%;
    float:right; /* add this */
    
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    z-index: 2;
    background: #FFFFFF;
    
    margin: 0 auto 10px;
    padding: 35px;
    text-align: right;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.list_obj {
    background-color: #f2f2f2;
    padding: 10%;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.075), 0 5px 5px 0 rgba(0, 0, 0, 0.082);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
}

.list_obj:hover{
    background-color: #b8b8b8;
}
#intro button:hover {
    background: #43A047;
}
#next {
    max-width: 50%;
    padding: 0px;
    text-decoration: none;
    margin-top: 15%;
    font-size: 16px;
}
#back {
    max-width: 50%;
    padding: 0px;
    text-decoration: none;
    margin-top: 15%;
    font-size: 16px; 
    transform: translate(515%);  
}
#back2{
    transform: translate(-195%);
}
.list_obj button:hover, #item_list a:hover {
    background: #43A047;
}
#hello {
    color: #FFFFFF;
}
.list_obj button, #item_list a {
    font-family: "Rubik", sans-serif;
    background: rgb(60, 138, 62);
    color: #FFFFFF;
    padding: 10px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    outline: 0;
    border: 0;
}
#shopping_bag {
    width: 19.7%;
    
    overflow: auto; /* if you don't want #second to wrap below #first */
    float: left; /* add this */
    position: fixed;
    max-width: 19%;
    height: 80%;
    max-height: 80%;
    float:right; /* add this */
    /* transform: translate(0,-33%); */
    /* try tranform -15% for mobile */
    z-index: 3;
    background: #FFFFFF;
    left: 0;
    top: 0;
    transform: translate(3%,2%);
    margin: 0 auto 10px;

    text-align: right;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;

    
}

#exit{
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: "Rubik", sans-serif;
    text-align: center;
    
    font-weight: bolder;
    width: 8%;
    height: 7%;    

}

#exit a {
    text-decoration: none;
    width: 70%;
    height: 70%;
    text-align: center;
    background: rgb(0, 0, 0);
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    color: white;
    font-size: 22px;
}

#exit a:hover{
    background-color: rgb(134, 40, 40) ;
}
#exit a:visited{
    color: rgb(255, 255, 255);
}

#shopping_bag_list {
    
    overflow: auto; /* if you don't want #second to wrap below #first */
    display: grid;
    grid-template-columns: auto auto auto;
}


iframe {
    width: 100%;
    height: 98.934%;
    max-width: 100%;
    
}

.item_price_list {

    min-height: 20px;
}
#submit {
    display: inline;
}

.item_icon_list {
    border-radius: 10%;
}
