@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);
@import url(https://fonts.googleapis.com/css?family=Comic+Neue&display=swap);

* {
    box-sizing: border-box;
    
}

html {
    font-size: 100%;
}

body {
    
    background: #578b3b; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #578b3b, rgba(89, 146, 56, 0.699));
    background: -moz-linear-gradient(right, #4b7933, rgba(85, 139, 88, 0.699));
    background: -o-linear-gradient(right, #578b3b, rgba(89, 146, 56, 0.699));
    background: linear-gradient(to left, #4d7a34, rgba(85, 139, 88, 0.699));
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}

/* -------------------------------------------top section----------------------------------------------- */

#hello {
    color: #FFFFFF;
    font-size: 1.2em;
}

#intro {
    /* transform: translate(-100%); */
    background: #FFFFFF;
    max-width: 33%;
    margin-bottom: 1% ;
    padding: 3em;
    padding-bottom: 2em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 1em;
}

#search_bar {
    display: inline;
    padding: 0;
}


#intro input {
    font-family: "Rubik", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin-bottom: 2em;
    padding: 1em;
    box-sizing: border-box;
    font-size: 1em;
    
    border-radius: 0.66666em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    
}
#intro input:focus{
    background-color: #b8b8b8;
}


#submit {
    display: inline;
}

#intro button {
    font-family: "Rubik", sans-serif;
    text-align: center;
    outline: 0;
    background: rgb(60, 138, 62);
    width: 25%;
    border: 0;
    padding: 1em;
    padding-left: 0.1em;
    color: #FFFFFF;
    font-size: 1em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 0.66666em;
    min-width: 54px;
}
#intro button:hover {
    background: #43A047;
}

/* -----only on search page------ */
#back2{
    position: relative;
    left: 50%;
    
    /*transform: translate(197.5%); */
}

/* -------------------------------------------mid-left section------------------------------------------ */

#main {
    overflow: hidden; /* will contain if #first is longer than #second */
    max-width: 100%;
}
#item_list {
    width: 80%;
    float:left; /* add this */
    
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    z-index: 2;
    background: #FFFFFF;
    
    margin-bottom: 0.5em;
    padding-top: 2.2em;
    padding-bottom: 2.2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0.7em;
}

.list_obj {
    background-color: #f2f2f2;
    padding: 10%;
    margin: 5%;
    border-radius: 0.7em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.075), 0 5px 5px 0 rgba(0, 0, 0, 0.082);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
}
.list_obj:hover{
    background-color: #b8b8b8;
}

.list_obj button, #item_list a {
    font-family: "Rubik", sans-serif;
    background: rgb(60, 138, 62);
    color: #FFFFFF;
    padding: 0.7em;
    font-size: 1em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 0.7em;
    text-align: center;
    outline: 0;
    border: 0;
}
.list_obj button:hover, #item_list a:hover {
    background: #43A047;
}

.item_name_list{
    min-height: 20px;
    max-height: 20px;
    
}
.item_icon_list {
    border-radius: 10%;
}
.item_price_list {

    min-height: 20px;
}

#back {
    max-width: 50%;
    padding: 0px;
    text-decoration: none;
    margin-top: 15%;
    font-size: 1em; 
    transform: translate(10%);
      
}

#next {
    max-width: 50%;
    padding: 0px;
    text-decoration: none;
    margin-top: 15%;
    font-size: 1em;
    transform: translate(495%);
}

/* ---------------------------------------------top right section------------------------------------------- */

#shopping_bag {
    width: 19.7%;
    
    overflow: auto; /* if you don't want #second to wrap below #first */
    float: right; /* add this */
    position: fixed;
    max-width: 19%;
    height: 80%;
    max-height: 80%;
    float:right; /* add this */
    /* transform: translate(0,-33%); */
    /* try tranform -15% for mobile */
    z-index: 3;
    background: #FFFFFF;
    right: 0;
    top: 0;
    transform: translate(-3%,2%);
    

    
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0.666663em;

    
}


iframe {
    width: 100%;
    height: 98.934%;
    max-width: 100%;
    
}

/* ---------------------------------------------top bottom section----------------------------------------- */

#exit{
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: "Rubik", sans-serif;
    text-align: center;
    
    font-weight: bolder;
    width: 8%;
    height: 4%;    

}

#exit a {
    text-decoration: none;
    width: 70%;
    height: 70%;
    text-align: center;
    background: rgb(0, 0, 0);
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0.4em;
    color: white;
    font-size: 1.3333em;
    
    min-height: 25px;
    min-width: 75px;
    max-width: 100px;
}

#exit a:hover{
    background-color: rgb(134, 40, 40) ;
}
#exit a:visited{
    color: rgb(255, 255, 255);
}
