@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);
@import url(https://fonts.googleapis.com/css?family=Comic+Neue&display=swap);

* {
    box-sizing: border-box;
    
}


body {
    background-color: rgb(255, 255, 255);
}

#shopping_bag_list {
        
    float: right; /* add this */
    display: block;
    max-width: 100%;
}

.items {
    font-family: "Rubik", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    max-width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: right;
    border-radius: 10px;
    display: block;
    word-wrap: break-word;
}
#add {
    font-family: "Rubik", sans-serif;
    outline: 0;
    background: rgb(60, 138, 62);
    width: 40%;
    border: 0;
    padding: 5%;
    text-align: center;
    padding-bottom: 5%;
    margin: 3%;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    
    
}

#add:hover, #order:hover{
    background: #43A047
}
input {
    font-family: "Rubik", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: right;
    border-radius: 10px;
}
h1 {
    font-family: "Rubik", sans-serif;
    color: rgb(60, 138, 62);
    text-align: right;
}
#order {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(60, 138, 62);
    width: 100%;
    border: 0;
    padding: 5%;
    padding-bottom: 15%;
    margin: 1%;
    color: #FFFFFF;
    font-size: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    
    font-size: 16px;
}

form button {
    font-family: 'Comic Neue', cursive;
    
    border-radius: 7px;
    background: none;
    border: 0;
    font-size: 40px;
}


.add_one{
    color: rgb(60, 138, 62);
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    max-height: min-content;
    padding: 10px;
}

.add_one:hover {
    color: #FFFFFF;
    background-color: rgb(60, 138, 62);
}

.less_one{
    color: rgb(43, 85, 133);
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    
    padding: 10px;
}

.less_one:hover {
    color: #FFFFFF;
    background-color: rgb(43, 85, 133);
}

.less_all{
    color: rgb(134, 40, 40);
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    
    padding: 10px;
}

.less_all:hover {
    color: #FFFFFF;
    background-color: rgb(134, 40, 40);
}



#big_action {
    z-index: 1;
}

.reg button{
    width: 25%;
    padding: 0;
    margin: 1%;
    border-radius: 18%;
}

.one {
    max-width: 100%;
}