<!DOCTYPE html>

<head>
    <title>כלבו</title>
    <link rel="stylesheet" type="text/css" href="..\..\static\home.css">
    <link rel="shortcut icon" type="image/png" href="..\..\static\yotvata_logo.png"/>
</head>

<body>
    <p id="hello" style="color: white;">שלום {{ username }}</p>
    <div align="right" id="intro">
        
        <div  id="search_bar">
            
            <form action="/search/{{ id }}/{{ username }}" method="POST">
                <input type="search" name="query" placeholder="...חפש/י"> <button type="submit" value="חפש" id="submit">חיפוש</button>
            </form>
        </div>
    </div>
    
    <div id="main">
        
        <div id="item_list">
        {% for item in get_40 %}
            <div class="list_obj">
                <img align="center" class="item_icon_list" src="..\..\static\COLBO_IMG\{{ item['Barcode'] }}.png" onerror="this.src='{{ yot }}';" width="100px" height="100px">    
                <p class="item_name_list">{{ item['Name'] }}</p>
                <p class="item_price_list">{{ item['Price'] }}</p>
                <form>
                    <button type="submit" name="add_item" value="{{ item['Name'] }},{{ username }}" formmethod="POST" formaction="http://172.16.0.17:5001/add_item" formtarget="side">
                        הוסף
                    </button>
                </form>
            </div>
        {% endfor %}
            <a id="next" href="{{ next1 }}">
                הבא
            </a>
            <a id="back" href="{{ back1 }}">
                הקודם
            </a>
        </div>


        
        <div id="shopping_bag">
            
            <iframe name="side" src="http://172.16.0.17:5001/shop/{{ username }}" frameborder="0"></iframe>
            <!--
                {% for x in range(40) %} 
                <p>פה מוצג סל הקניות</p>
            {% endfor %}
            -->            
        
        </div>
        
    </div>
</body>
</html>