<!DOCTYPE html>

<head>
    <title>כלבו</title>
    <link rel="stylesheet" type="text/css" href="..\static\login.css">
    <link rel="shortcut icon" type="image/png" href="..\static\yotvata_logo.png"/>
</head>

<body>
    <div class="login-page">
        
        <div class="form">
            <h1>Online כלבו</h1>
            <form class="login-form" method="POST">
                <input type="text" name="user" placeholder="שם מלא"/>
                <input type="password" name="password" placeholder="סיסמא"/>
                <button type="submit">התחבר/י</button>
            <p></p>
            <p></p>
            
            </form>
            <a class="reg" href="/register">הרשמה</a>
        </div>
      </div>
</body>
</html>