<!DOCTYPE html>

<head>
    <title>Online Shopping</title>
    <link rel="stylesheet" type="text/css" href="..\static\login.css">
    <link rel="shortcut icon" type="image/png" href="..\static\logo.png"/>
</head>

<body>
    
    <div class="login-page">
        <div class="form">
            <a id="blank" href="https://github.com/orireiter"><img src="..\..\static\ori.png" width="220px" height="50px" align="center" style="padding-bottom: 5px;"></a>
            <h1>Online Shop</h1>
            <h2 align="left">Registration</h2>
            <p align="left">all fields are mandatory!</p>
            <form class="login-form" method="POST" action="/register_process" onsubmit="return confirm('If all the details are correct, OK');">
                <input type="text" name="user" placeholder="name" required>
                <br>
                <input type="password" name="password" placeholder="password" required>
                <br>
                <input type="email" name="email" placeholder="email" required>
                <br>
                <input type="tel" name="tel" placeholder="phone" required>
                <br>
                <button type="submit">register</button>
            </form>
            <p align="left">If after registering you're still on here, there was a problem registering.<br>Try again.<br></p>

            
            <a href="/login">login page</a>
        </div>
    </div>
</body>
</html>