<!DOCTYPE html>

<head>
    <title>כלבו</title>
    <link rel="stylesheet" type="text/css" href="..\..\static\home.css">
    <link rel="shortcut icon" type="image/png" href="..\..\static\yotvata_logo.png"/>
</head>

<body>
    <div id="intro">
        <p id="hello">שלום {{ username }}, חיפשת {{ query }}</p>
        <div id="search_bar">
            <form action="/search/{{ id }}/{{ username }}" method="POST">
                <input type="text" name="query" placeholder="חפש..."> <input type="submit" value="חפש" id="submit">
            </form>
        </div>
    </div>
    
    <div id="main">
    {% if search_list=="klum" %}
        <p>לא נמצאו פריטים</p>
        <a href="{{ back2 }}">חזור</a>
    {% else %}    
        <div id="item_list">
        {% for item in search_list %}
            <div class="list_obj" style="border: 1px solid black">
                <img class="item_icon_list" src="..\..\static\COLBO_IMG\{{ item['Barcode'] }}.png" alt="תמונה לא זמינה כרגע">    
                <p class="item_name_list">{{ item['Name'] }}</p>
                <p class="item_price_list">{{ item['Price'] }}</p>
                <form>
                    <button type="submit" name="add_item" value="{{ item['Name'] }},{{ username }}" formmethod="POST" formaction="http://127.0.0.1:5001/add_item" formtarget="side">
                        הוסף
                    </button>
                </form>
            </div>
        {% endfor %}
        </div>
    {% endif %}

        
        <div id="shopping_bag">
            <iframe name="side" src="http://127.0.0.1:5001/shop/{{ username }}" frameborder="0"></iframe>
        </div>
        
    </div>
    <div id="outro">
    {% if search_list!="klum" %}
        <a href="{{ back2 }}">חזור</a>
    {% endif %}
    </div>
</body>
</html>