<!DOCTYPE html>

<head>
    <title>כלבו</title>
    <link rel="stylesheet" type="text/css" href="..\..\static\shopping_bag.css">
    <link rel="shortcut icon" type="image/png" href="..\..\static\yotvata_logo.png"/>
</head>

<body>
    <div id="shopping_bag_list">
        {% for x in leng %} 
        <form>
            <button type="submit" name="add_item" value="{{ item_names[x] }},{{ username }}" formmethod="POST" formaction="http://172.16.0.17:5001/add_item">
                +
            </button>
            <button type="submit" name="delete_item" value="{{ item_names[x] }},{{ username }}" formmethod="POST" formaction="http://172.16.0.17:5001/delete_item">
                -
            </button>
            <button type="submit" name="delete_items" value="{{ item_names[x] }},{{ username }}" formmethod="POST" formaction="http://172.16.0.17:5001/delete_items">
                X
            </button>
        </form>
        <p>{{ amount[x] }}x  {{  item_names[x] }}</p>
        {% endfor %}
        <form action="/add_free_item" method="POST">
            <input type="text" name="item" placeholder="הכנס מוצר חופשי">
            <button id="add" type="submit" name="user" value="{{ username }}">
                הוסף
            </button>
        </form>
    </div>
    <div id="big_action" >  
        <form>
            <button id="order" type="submit" formmethod="POST" formaction="http://172.16.0.17:5002/sender/{{ username }}">
                הזמן
            </button>
        </form>
    </div>
</body>
</html>